<a href="https://colab.research.google.com/github/Jaykumar-coder/searce/blob/main/asgn1_recomend_sys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
# Mounting the google drive
from google.colab import drive
drive.mount('/content/drive')

root_path = '/content/drive/MyDrive/searce/asgn1/'
customers_df = pd.read_csv(root_path + 'olist_customers_dataset.csv')
items_df = pd.read_csv(root_path + 'olist_order_items_dataset.csv')
payments_df = pd.read_csv(root_path + 'olist_order_payments_dataset.csv')
orders_df = pd.read_csv(root_path + 'olist_orders_dataset.csv')
products_df = pd.read_csv(root_path + 'olist_products_dataset.csv')
sellers_df = pd.read_csv(root_path + 'olist_sellers_dataset.csv')
categories_df = pd.read_csv(root_path + 'product_category_name_translation.csv')

Mounted at /content/drive

products =  pd.read_csv('/content/drive/MyDrive/Colab Notebooks/archive/olist_products_dataset.csv', usecols=['product_id','product_category_name'])

orders = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/archive/olist_orders_dataset.csv',usecols = ['order_id','customer_id'])

prod = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/archive/olist_order_items_dataset.csv',usecols = ['product_id','order_id'])

customers = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/archive/olist_customers_dataset.csv',usecols = ['customer_id','customer_zip_code_prefix','customer_city'])

In [8]:
review_df=pd.read_csv(root_path + "olist_order_reviews_dataset.csv")

In [9]:
review_df.head()

                          review_id  ... review_answer_timestamp
0  7bc2406110b926393aa56f80a40eba40  ...     2018-01-18 21:46:59
1  80e641a11e56f04c1ad469d5645fdfde  ...     2018-03-11 03:05:13
2  228ce5500dc1d8e020d8d1322874b6f0  ...     2018-02-18 14:36:24
3  e64fb393e7b32834bb789ff8bb30750e  ...     2017-04-21 22:02:06
4  f7c4243c7fe1938f181bec41a392bdeb  ...     2018-03-02 10:26:53

[5 rows x 7 columns]

In [21]:
comb = pd.merge(items_df, products_df, on ='product_id')
comb.head(5)

                           order_id  ...  product_width_cm
0  00010242fe8c5a6d1ba2dd792cb16214  ...              14.0
1  130898c0987d1801452a8ed92a670612  ...              14.0
2  532ed5e14e24ae1f0d735b91524b98b9  ...              14.0
3  6f8c31653edb8c83e1a739408b5ff750  ...              14.0
4  7d19f4ef4d04461989632411b7e588b9  ...              14.0

[5 rows x 15 columns]

In [27]:
comb = pd.merge(comb,review_df, on ='order_id')
comb.head()

                           order_id  ...  review_answer_timestamp
0  00010242fe8c5a6d1ba2dd792cb16214  ...      2017-09-22 10:57:03
1  130898c0987d1801452a8ed92a670612  ...      2017-07-17 12:50:07
2  532ed5e14e24ae1f0d735b91524b98b9  ...      2018-06-06 21:41:12
3  6f8c31653edb8c83e1a739408b5ff750  ...      2017-08-13 03:35:17
4  7d19f4ef4d04461989632411b7e588b9  ...      2017-08-28 00:51:18

[5 rows x 21 columns]

In [29]:
comb.isnull().sum()

order_id                          0
order_item_id                     0
product_id                        0
seller_id                         0
shipping_limit_date               0
price                             0
freight_value                     0
product_category_name          1612
product_name_lenght            1612
product_description_lenght     1612
product_photos_qty             1612
product_weight_g                 18
product_length_cm                18
product_height_cm                18
product_width_cm                 18
review_id                         0
review_score                      0
review_comment_title          99700
review_comment_message        64730
review_creation_date              0
review_answer_timestamp           0
dtype: int64

Lets look for the most popular product

In [31]:
comb1 = pd.DataFrame(comb.groupby('product_category_name')['review_score'].count())
comb1.sort_values('review_score', ascending=False).head()

                        review_score
product_category_name
cama_mesa_banho                11272
beleza_saude                    9728
esporte_lazer                   8701
moveis_decoracao                8416
informatica_acessorios          7895

In [33]:
comb2 = comb.product_category_name[comb.review_score == 5]

In [35]:
print((comb2.unique()))

['cool_stuff' 'moveis_decoracao' 'ferramentas_jardim'
 'utilidades_domesticas' 'telefonia' 'beleza_saude' 'livros_tecnicos'
 'bebes' 'fashion_bolsas_e_acessorios' 'cama_mesa_banho' 'casa_conforto'
 'alimentos' 'esporte_lazer' 'perfumaria' 'moveis_escritorio'
 'malas_acessorios' 'agro_industria_e_comercio' 'papelaria' 'eletronicos'
 'informatica_acessorios' 'construcao_ferramentas_construcao' 'pet_shop'
 'moveis_sala' 'audio' 'construcao_ferramentas_iluminacao' 'brinquedos'
 'consoles_games' 'industria_comercio_e_negocios'
 'moveis_cozinha_area_de_servico_jantar_e_jardim' 'relogios_presentes'
 'automotivo' nan 'eletrodomesticos' 'climatizacao' 'telefonia_fixa'
 'fraldas_higiene' 'sinalizacao_e_seguranca' 'instrumentos_musicais'
 'eletroportateis' 'construcao_ferramentas_jardim' 'artes'
 'casa_construcao' 'livros_interesse_geral' 'artigos_de_festas'
 'construcao_ferramentas_seguranca' 'cine_foto' 'alimentos_bebidas'
 'bebidas' 'market_place' 'fashion_underwear_e_moda_praia' 'musica'
 'fashion_calcados' 'flores' 'eletrodomesticos_2'
 'portateis_casa_forno_e_cafe' 'pcs' 'livros_importados'
 'artigos_de_natal' 'moveis_quarto' 'casa_conforto_2' 'dvds_blu_ray'
 'portateis_cozinha_e_preparadores_de_alimentos' 'cds_dvds_musicais'
 'artes_e_artesanato' 'moveis_colchao_e_estofado'
 'tablets_impressao_imagem' 'construcao_ferramentas_ferramentas'
 'fashion_esporte' 'fashion_roupa_masculina'
 'fashion_roupa_infanto_juvenil' 'la_cuisine' 'pc_gamer'
 'fashion_roupa_feminina']